header {
	background: silver;
	height: 50px;
}

nav {
background:aqua;
height: 600px;
width: 25%;
float: left;
}

main {
background: green;
height: 600px;
width: 75%;
float: left;
text-align: center;
}

footer {
background: blue;
clear: both;
color: white;
}

a {
	font-size: 150%;
}

.obrazek {
	text-align: center;
}
